extends layout
block append head
  script(src='/js/lib/require/require.js',data-main='/js/lib/crm/index')
  link(rel='stylesheet', href='/stylesheets/index.css')
  
block content
   include banner   
   include menubar
   #main
      .dynamic_section 
        h2 #{i18n.__('welcome')} 
        
        