doctype html
html
  block head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap/bootstrap-theme.min.css')
    link(rel='stylesheet', href='/stylesheets/jqueryUI/jquery-ui.min.css')
    link(rel='stylesheet', href='/stylesheets/hxx-components.css')
    link(rel='stylesheet', href='/stylesheets/hxx-grids.css')
    link(rel='stylesheet', href='/stylesheets/crm.css')

  body
    block content