block content 
    nav(class="navbar navbar-default" role="navigation")
       .navbar-header
          a(class='navbar-brand menuitem',href='/js/lib/crm/kyc/search.js', target='#') #{i18n.__('KYC Search')}
       .navbar-header
          a(class='navbar-brand menuitem',href='/js/lib/crm/kyc/approval.js', target='#') #{i18n.__('KYC Approval')}
       .navbar-header
          a(class='navbar-brand menuitem',href='/js/lib/crm/kyc/visitation.js', target='#') #{i18n.__('KYC Visitation')}	
//       div
//          form(class="navbar-form navbar-left" role="search")
//             div(class="form-group")
//                input(type="text" class="form-control" placeholder="Search")             
//             button(type="button" class="btn btn-default") #{i18n.__('Search All')}

//block content 
//  ol(class="breadcrumb")    
//    li
//      a(class='menuitem',href='/kyc/search', target='#') KYC Search
//    li 
//      a(class='menuitem',href='/kyc/approval', target='#') KYC Approval
//    li
//      a(class='menuitem',href='/kyc/visitation', target='#') KYC Visitation 
// 

