extends ../base/layout

block append head
    script(src='/js/lib/require/require.js', data-main='/js/lib/crm/xp')

block content
    h4(class='pageTitle') #{title}
    .contentBlock(id='xp_content')
        form(id='xp_top_form')
            .topInfoContainer
        .detailInfoContainer
    .footer(id='xp_footer')
        .btn-group
            button(id='btn_submit',type='button',class='btn btn-success')
                |Submit